{% extends "base.html" %} {% block title_block %} login {% endblock title_block %} {% block main_block %}
<div class="uk-vertical-align uk-text-center uk-height-1-1">
    <div class="uk-vertical-align-middle" style="width: 250px;">
        <img class="uk-margin-bottom" width="140" height="120" src="#" alt="">
        <form id="login_form" class="uk-panel uk-panel-box uk-form" method="POST" action=".">
            {% csrf_token %}
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" type="text" name="username" placeholder="Username">
            </div>
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-form-large" type="password" name="password" placeholder="Password">
            </div>
            <div class="uk-form-row">
                <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" value="Login">
            </div>
            <div class="uk-form-row uk-text-small">
                <label class="uk-float-left">
                    <input type="checkbox"> Remember Me</label>
                <a class="uk-float-right uk-link uk-link-muted" href="#">Forgot Password?</a>
            </div>
            <p>Not a member? <a href="{% url 'registration_register' %}">Register</a>!</p>
        </form>
    </div>
</div>
{% endblock main_block %}