{% extends "base.html" %} {% block title_block %} register {% endblock title_block %} {% block main_block %}
<div class="uk-container uk uk-container-center uk-margin-top uk-margin-large-bottom">
    <h1 class="uk-h1">Register Here</h1>
    <form id="user_form" class="uk-panel uk-panel-box uk-form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        <div class="uk-form-row">
            {{ form.as_p }} {{ profile_form.as_p }}
        </div>
        <div class="uk-form-row">
            <input class="uk-width-1-1 uk-button uk-button-primary uk-button-large" type="submit" value="Register" />
        </div>
    </form>
</div>
{% endblock main_block %}