
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="{{ blog.id }}" data-title="{{ blog.caption }}" data-url="/blog/detail/{{ blog.id }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {
    short_name: "qkworld",
    sso:{
    	login:"http://127.0.0.1:8000/accounts/login/?from=http://127.0.0.1:8000/blog/details/{{blog.id}}",
    	logout:"http://127.0.0.1:8000/accounts/logout/?from=http://127.0.0.1:8000/blog/details/{{blog.id}}"
    }
};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';
    ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->