{% extends "base.html" %} {% load staticfiles %} {% block title_block %}Home{% endblock title_block %} {% block main_block %}
<div class="uk-container uk-container-center">
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-3-4">
            <article class="uk-article">
                <h2 class="uk-h1"><a href="/blog/detail/{{ blog.id }}">{{ blog.caption }}</a></h2>
                <p class="uk-article-meta"><i class="uk-icon-user">{{ blog.author}} </i> <i class="uk-icon-clock-o">{{blog.publishTime | date:"Y M d - H:i:s"}} </i>| <i class="uk-icon-eye-slash"></i>({{blog.views}}) | Comments(0) | <i class="uk-icon-thumbs-up">{{blog.likes}}</i></p>
                <p>{{ blog.content }}</p>
            </article>
            <hr class="uk-article-divider">
            <!-- <article class="uk-article">
                <h2 class="uk-h2"><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
                <p class="uk-article-meta">本文由{{ blog.author}} 发表于 {{blog.postTime}} | 阅读(1) | 评论(0)</p>
                <p>{{ blog.summary }}</p>
                <p><a href="/blog/{{ blog.id }}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
            </article>
            <hr class="uk-article-divider"> -->
        </div>
        <div class="uk-width-medium-1-4">
            <div class="uk-panel">
                <h3 class="uk-panel-title">Archives</h3>
                <ul class="uk-list uk-list-line">
                    <li><a href="#">January 2014</a></li>
                    <li><a href="#">December 2013</a></li>
                    <li><a href="#">November 2013</a></li>
                    <li><a href="#">October 2013</a></li>
                    <li><a href="#">September 2013</a></li>
                </ul>
            </div>
            <div class="uk-panel uk-panel-header">
                <h3 class="uk-panel-title uk-h3">Social Links</h3>
                <ul class="uk-list uk-list-line">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock main_block %}