<nav class="nav-placeholder">
    <div id="nav">
        <a href="#offcanvas" class="uk-navbar-toggle uk-hidden-large" data-uk-offcanvas=""></a>
        <div class="uk-container uk-container-center">
            <div id="offcanvas" class="uk-offcanvas">
                <div class="uk-offcanvas-bar">
                    <form action="/search?q=" method="get" class="uk-search" data-uk-search="">
                        <input class="uk-search-field" type="text" name="q" title="Search for Wallpapers..." placeholder="Search for Wallpapers..." value="">
                    </form>
                    <ul class="uk-nav uk-nav-offcanvas" data-uk-nav="">
                        <li><a class="uk-h4" href="/latest-wallpapers"><i class="uk-icon-clock-o"></i> Latest</a></li>
                        <li><a class="uk-h4" href="/"><i class="uk-icon-trophy"></i> Featured</a></li>
                        <li><a class="uk-h4" href="/popular-wallpapers"><i class="uk-icon-star"></i> Popular</a></li>
                        <li class="uk-nav-header">Categories</li>
                        <li><a href="/3d">3D</a></li>
                        <li><a href="/abstract">Abstract</a></li>
                        <li><a href="/animals">Animals</a></li>
                        <li><a href="/anime">Anime</a></li>
                        <li><a href="/bikes">Bikes</a></li>
                        <li><a href="/brands">Brands</a></li>
                        <li><a href="/cars">Cars</a></li>
                        <li><a href="/celebrations">Celebrations</a></li>
                        <li><a href="/celebrities">Celebrities</a></li>
                        <li><a href="/city-and-architecture">City &amp; Architecture</a></li>
                        <li><a href="/digital-art">Digital Art</a></li>
                        <li><a href="/flowers">Flowers</a></li>
                        <li><a href="/funny">Funny</a></li>
                        <li><a href="/games">Games</a></li>
                        <li><a href="/love">Love</a></li>
                        <li><a href="/nature">Nature</a></li>
                        <li><a href="/people">People</a></li>
                        <li><a href="/quotes">Quotes</a></li>
                        <li><a href="/space">Space</a></li>
                        <li><a href="/sports">Sports</a></li>
                        <li><a href="/technology">Technology</a></li>
                        <li><a href="/tv-and-movies">TV &amp; Movies</a></li>
                        <li><a href="/typography">Typography</a></li>
                        <li><a href="/world">World</a></li>
                    </ul>
                </div>
            </div>
            <div class="uk-navbar-brand" itemscope="" itemtype="http://schema.org/Organization">
                <a itemprop="url" href="http://www.hdwallpapers.net" title="HDwallpapers.net">
                    <img itemprop="logo" src="http://static1.hdwallpapers.net/images/hd-wallpapers-logo.png" alt="HDwallpapers.net logo" width="242" height="39">
                </a>
            </div>
            <ul class="uk-navbar-nav uk-margin-large-left uk-hidden-medium uk-hidden-small">
                <li class="uk-parent" data-uk-dropdown="">
                    <a href="/"><i class="uk-icon-bars"></i> Browse</a>
                    <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-width-4">
                        <div class="uk-grid uk-dropdown-grid">
                            <div class="uk-width-1-4">
                                <ul class="uk-nav uk-nav-dropdown uk-panel">
                                    <li><a href="/latest-wallpapers" class="uk-h4"><i class="uk-icon-clock-o"></i> Latest</a></li>
                                    <li><a href="/" class="uk-h4"><i class="uk-icon-trophy"></i> Featured</a></li>
                                    <li><a href="/popular-wallpapers" class="uk-h4"><i class="uk-icon-star"></i> Popular</a></li>
                                </ul>
                            </div>
                            <div class="uk-width-1-4">
                                <ul class="uk-nav uk-nav-dropdown uk-panel">
                                    <li><a href="/3d">3D</a></li>
                                    <li><a href="/abstract">Abstract</a></li>
                                    <li><a href="/animals">Animals</a></li>
                                    <li><a href="/anime">Anime</a></li>
                                    <li><a href="/bikes">Bikes</a></li>
                                    <li><a href="/brands">Brands</a></li>
                                    <li><a href="/cars">Cars</a></li>
                                    <li><a href="/celebrations">Celebrations</a></li>
                                </ul>
                            </div>
                            <div class="uk-width-1-4">
                                <ul class="uk-nav uk-nav-dropdown uk-panel">
                                    <li><a href="/celebrities">Celebrities</a></li>
                                    <li><a href="/city-and-architecture">City &amp; Architecture</a></li>
                                    <li><a href="/digital-art">Digital Art</a></li>
                                    <li><a href="/flowers">Flowers</a></li>
                                    <li><a href="/funny">Funny</a></li>
                                    <li><a href="/games">Games</a></li>
                                    <li><a href="/love">Love</a></li>
                                    <li><a href="/nature">Nature</a></li>
                                </ul>
                            </div>
                            <div class="uk-width-1-4">
                                <ul class="uk-nav uk-nav-dropdown uk-panel">
                                    <li><a href="/people">People</a></li>
                                    <li><a href="/quotes">Quotes</a></li>
                                    <li><a href="/space">Space</a></li>
                                    <li><a href="/sports">Sports</a></li>
                                    <li><a href="/technology">Technology</a></li>
                                    <li><a href="/tv-and-movies">TV &amp; Movies</a></li>
                                    <li><a href="/typography">Typography</a></li>
                                    <li><a href="/world">World</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
                <li><a href="/community" rel="nofollow">Community</a></li>
            </ul>
            <div class="uk-navbar-flip uk-hidden-small">
                <ul class="uk-navbar-nav">
                    <li><a class="navbar-submit" href="/submit" rel="nofollow">Submit</a></li>
                    <li class="uk-margin-left"><a class="link-secondary" href="/login" rel="nofollow">Login</a></li>
                    <li>
                        <a class="link-secondary" href="/register" rel="nofollow">Sign up</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="uk-grid">
    <div class="uk-width-1-1">
        <ul class="uk-pagination">
            <li class="prev_page uk-pagination-previous"><a href="/tags/purple/page-1"><i class="uk-icon-angle-left uk-margin-small-right"></i> Previous</a></li>
            <li class="uk-hidden-small uk-hidden-medium"><a href="/tags/purple/page-1">1</a></li>
            <li class="uk-active uk-hidden-small uk-hidden-medium"><span>2</span></li>
            <li class="uk-hidden-small uk-hidden-medium"><a href="/tags/purple/page-3">3</a></li>
            <li class="uk-pagination-next"><a href="/tags/purple/page-3">Next <i class="uk-icon-angle-right uk-margin-small-left"></i></a></li>
        </ul>
    </div>
</div>



<ul class="uk-pagination">
    <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
    <li class="uk-active"><span>1</span></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><span>...</span></li>
    <li><a href="#">20</a></li>
    <li><a href="#"><i class="uk-icon-angle-double-right"></i></a></li>
</ul>




<p>
{% if topics.has_previous %}
  <a href="?page={{ topics.previous_page_number }}">Previous</a>
  {% endif %}
  {# topics.paginator.number_pages 返回总页数 #}
  Page {{ topics.number }} of {{ topics.paginator.num_pages }}.
{% if topics.has_next %}
  <a href="?page={{ topics.next_page_number }}">Next</a>
{% endif %}
</p>


{# {% for page_number in blogs.paginator.page_range %}
                    {% ifequal page_number  blogs.number %}
                        <li class="uk-active"><span>{{ page_number }}</span></li>
                    {% else %}
                        <li><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endifequal %}
                {% endfor %} #}